<%= image_tag "logo.png", style: "width:256px;height:auto;" %>
<p>Learn for yourself. Learn for your family. Learn for your society.</p>
<p>Our collective future depends on educated, informed, and active citizens.</p>
<p>You are here because you want to be better informed with firm foundations for your perspectives and views. We teach, not indoctrinate. </p>