<%= image_tag "logo.png", style: "width:256px;height:auto;" %>
<p>Welcome to the IPAK EDU Self-Paced Courses Streaming platform!</p>
<p>Here you will find courses previously offered live on <a target="_blank" href="https://ipak-edu.org/">ipak-edu.org</a> available in a self-paced streaming format.</p>