<div class="text-container">
  <img src="https://ipak-edu.org/ws/resized-images/4951d385aa4645c1afb4cf5b40c9c894/ipakedulogo-no-background-2.png" alt="IPAK-EDU logo">
  <p>Welcome to the IPAK EDU On-Demand Streaming platform!</p>
  <p>Here you will find courses previously offered live on <a target="_blank" href="https://ipak-edu.org/">ipak-edu.org</a> available in an on-demand streaming format.</p>
</div>