<div class="text-container">
    <p>Subscribe to the newsletter using the form below:</p>
    <div id="iframe-container">
        <iframe src="https://popularrationalism.substack.com/embed" width="480" height="170" frameborder="0" scrolling="no"></iframe>
    </div>
</div>

<script>
    function fixbg() {
        document.getElementById("iframe-container").classList.add("iframe-container");
    }

    document.querySelector("iframe").addEventListener("load", fixbg);
</script>