    <script type="text/javascript">
        (function() {
            emailjs.init('V4JqfTzqfz6-Dlc_U');
        })();
    </script>
    <script type="text/javascript">
        window.addEventListener("turbo:load", () => {
            document.getElementById('contact-form').addEventListener('submit', function(event) {
                event.preventDefault();
                document.getElementById("sending-text").innerHTML = '<div class="loader"></div>Sending...';
                // generate a five digit number for the contact_number variable
                this.contact_number.value = Math.random() * 100000 | 0;
                // these IDs from the previous steps
                emailjs.sendForm('service_fdws8as', 'template_3utipak_support', this)
                    .then(function() {
                        console.log('SUCCESS!');
                        document.getElementById("contact-form").reset();
                    }, function(error) {
                        console.log('FAILED...', error);
                    });
            });
        } );
    </script>
<p>If you need assistance with any part of this site or the streaming service, please use the form below and we'll get back to you as soon as possible.</p>
<form id="contact-form">
  <input type="hidden" name="contact_number">
  <div class="form-floating mb-3">
    <input class="form-control" type="text" name="user_name" placeholder="Name" required>
    <label for="user_name">Name</label>
  </div>
  <div class="form-floating mb-3">
    <input class="form-control" type="email" name="user_email" placeholder="Email" required>
    <label for="user_email">Email</label>
  </div>
  <div class="form-floating mb-3">
    <textarea style="height:128px" class="w-100 form-control" name="message" placeholder="Message" required></textarea>
    <label for="message">Message</label>
  </div>
  <input class="w-100" type="submit" value="Send">
</form>
<p><br>The source code for this site is hosted on <a target="_blank" href="https://github.com/calebstein1/ipak-ppv-2">GitHub</a>, and you're more than welcome to open an issue or feature request there as well.</p>
