<div class="text-container">
  <p>Each purchase of a full course or single lecture grants you a non-exclusive license to view the purchased course or lecture for your own personal, non-commercial use using the player software embedded on this site.</p>
  <p>You may use each purchased license to view the content on up to four unique devices at a time.</p>
  <p>No purchase of any license on this site grants you any rights to the trademarks used on this site or any content hosted on this site. All trademark rights are held by IPAK EDU or the instructors/lecturers who have created the content displayed or hosted on this site.</p>
</div>