<div class="text-container">
  <p>Editing course</p>
  <%= render "form", course: @course %>
  <%= button_to "Destroy this course", @course, method: :delete, data: { turbo_confirm: "Confirm delete?" } %>
</div>