<p style="color: green"><%= notice %></p>

<div id="courses">
  <% @courses.each do |course| %>
    <div>
      <%= link_to(
        tag.div(
          image_tag(course.image, class: "course-image" ),
        class: "image-container" ),
      course ) %>
    </div>
  <% end %>
</div>

